/* Style cho tất cả các thẻ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.navbar div {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}

.navbar {
  background-color: #000;
}

.navbar div:hover {
  background-color: darkgrey;
  color: #000;
  cursor: pointer;
}