/* Style cho tất cả các thẻ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}


.navbar div {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}

.navbar {
  background-color: #000;
}

.navbar div:hover {
  background-color: darkgrey;
  color: #000;
  cursor: pointer;
}


.homepage {
  width: 60vw;
  margin: auto;
}

.img-box {
  width: 100%;
}

.img {
  width: 100%;
}

.about h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.about p {
  text-align: justify;
}

.box-members .member {
  background-image: url(https://www.w3schools.com/w3images/bandmember.jpg);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.members h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}



.box-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#contact h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

#contact>p {
  text-align: center;
  margin: 20px;
}

#contact p i {
  opacity: 0.4;
}

.form-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.miniform-box {
  display: flex;
  justify-content: space-between;
}

.miniform-box input {
  width: 48%;
}

input {
  border: 1px solid lightslategrey;
  padding: 5px 10px;
  margin: 2px;
}


.btn {
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  margin: auto;
}


.btn-box {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}