/* Style cho tất cả các thẻ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.navbar div {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}

.navbar {
  background-color: #000;
}

.navbar div:hover {
  background-color: darkgrey;
  color: #000;
  cursor: pointer;
}


.homepage {
  width: 60vw;
  margin: auto;
}

.img-box {
  width: 100%;
}

.img {
  width: 100%;
}

.about h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.about p {
  text-align: justify;
}

.box-members .member {
  background-image: url(https://www.w3schools.com/w3images/bandmember.jpg);
  width: 200px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.members h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.box-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}