p {
  color: blue;
}

div {
  color: magenta;
}

.hello {
  color: red;
}

#app {
  background-color: aquamarine;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  color: black;
  width: 100px;
  height: 100px;
  background-color: coral;
  margin: 10px;
  border-radius: 10px;
}