p {
  color: blue;
}

div {
  color: magenta;
}

.hello {
  color: red;
}

#app {
  background-color: aquamarine;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item {
  color: black;
  width: 100px;
  height: 100px;
  background-color: coral;
  margin: 10px;
  border-radius: 10px;
}